<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="LgcWebEntities" connectionString="metadata=res://*/Model.LgcWebModel.csdl|res://*/Model.LgcWebModel.ssdl|res://*/Model.LgcWebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5031.myASP.net;initial catalog=DB_A26328_t3ld0t0rr3s;persist security info=True;user id=DB_A26328_t3ld0t0rr3s_admin;password=n9lg9l19;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="LgcWebEntities" connectionString="metadata=res://*/Model.LgcWmsModel.csdl|res://*/Model.LgcWmsModel.ssdl|res://*/Model.LgcWmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lgcwebdb.cu4ikk5hh5xd.sa-east-1.rds.amazonaws.com;initial catalog=lgcwebdb_dev;persist security info=True;user id=lgcwebdb_admin;password=N9lg9l19n9.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_FW_Entities" connectionString="metadata=res://*/Model.LgcWmsModel.csdl|res://*/Model.LgcWmsModel.ssdl|res://*/Model.LgcWmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lgcwebdb.cu4ikk5hh5xd.sa-east-1.rds.amazonaws.com;initial catalog=lgcwebdb_dev;persist security info=True;user id=lgcwebdb_admin;password=N9lg9l19n9.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>